@import "tailwindcss";

:root {
  --background-image: url("assets/images/doldle-bg.jpg");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url("assets/images/doldle-bg.jpg");
  }
}

body {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center; /* 중앙 정렬 */
  background-repeat: repeat;
  color: var(--foreground-color);
  font-family: var(--font-godo);
}
